@model IEnumerable<SQLExerciser.Models.DB.DbDiagram>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationQuery)
        </th>
        <th>
            Diagram
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationQuery)
        </td>
        <td>
            <img src="@Url.Action("ReadImage", "Diagram", new { diagramId = item.DbDiagramId })" class="img-thumbnail" width="300" height="300" />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DbDiagramId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DbDiagramId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DbDiagramId }) |
            @Html.ActionLink("Add seed", "Create", "Seed", new { diagramId = item.DbDiagramId }, new { }) |
            @Html.ActionLink("Add exercise", "Create", "Exercise", new { diagramId = item.DbDiagramId }, new { })
        </td>
    </tr>
}

</table>
