@model IEnumerable<SQLExerciser.Models.ViewModel.ExerciseWSubmissions>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Exercise.Difficulty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Exercise.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Exercise.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        string bgColor;
        if (item.Statuses.Count() == 0) { bgColor = "aliceblue"; }
        else if (item.Statuses.Any(s => s.Accepted)) { bgColor = "forestgreen"; }
        else { bgColor = "lightcoral"; }
        <tr style="background-color: @bgColor">
            <td>
                @Html.DisplayFor(modelItem => item.Exercise.Difficulty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exercise.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exercise.Description)
            </td> 
            <td>
                @Html.ActionLink("Solve", "Solve", new { id = item.Exercise.ExerciseId })
            </td>
        </tr>
    }
</table>
